[user]
    name = Ceasar Bautista

    email = cbautista2010@gmail.com


[alias]
    # Use template "!sh -c 'git command $0'" for positional arguments


    # Because feedback is important
    join = add -v
    append = add -v

    # Show an abbreviated status
    stat = status -sb

    # Stage everything
    prepare = add . -vA

    # Discard a change
    discard = checkout --

    # Unstage a file
    unstage = reset HEAD --

    # Undo the last commit
    uncommit = reset --soft HEAD^

    # Amend the last commit
    amend = commit --amend

    # Sync with master
    # Rebase to keep the commit history clean
    sync = pull --rebase origin master


    # Unstash a stash
    # This is preferred over `stash apply` as it actually removes the stash
    # from the list of stashes
    unstash = stash pop

    # See stashes
    stashes = stash list


    # Show the last commit
    last = log -1 HEAD --stat --abbrev-commit

    # Show any changes from the last commit
    difflast = diff HEAD^

    # Pretty, high/density history
    # %Ccolor sets a color
    # %s - subject of a commit
    # %ad - date of a commit. Respects date option
    # %an - author of a commit
    # %h - abbreviated hash
    hist = log --pretty=format:\"%Cgreen%s %Cred%ad %Cblue[%an] %Creset%h\" --graph --date=relative

    # Search historical diffs for a keyword
    pickax = !sh -c 'git log -S$0 --stat'


    # Start a branch
    start = checkout -b

    # Finish a branch
    finish = push origin


    # Switch to master
    master = checkout master

    # Create a branch
    create = checkout -b

    # Continue working on a branch
    resume = checkout

    # Delete a branch
    delete = branch -d

    accept = !sh -c 'git delete $0 && git push origin :$0'

    # Show all merged branches
    merged = branch --merged

    # Show all unmerged branches
    unmerged = branch --no-merged


[color]
    # Color everything
    ui = true


[help]
    # Automatically correct and execute mistyped commands after waiting
    # for the given number of deciseconds (0.1 sec). If more than one
    # command can be deduced from the entered text, nothing will be
    # executed. If the value of this option is negative, the corrected
    # command will be executed immediately. If the value is 0 - the
    # command will be just shown but not executed. This is the default.
    autocorrect = -1


[log]
    # Make all dates in the log relative
    date = relative

    decorate
